# i/python checkoints
__pycache__
*.pyc
*.swp
.ipynb_checkpoints
# plots
*.pdf
*.png
*.jpg
# data
*.npy
*.dat
*.zip
# job output
*stderr*.txt
*stdout*.txt
# miscellaneous
*out
build/
dist/
gwbench.egg-info/
source/meetings/
source/old_code/
source/workshop.ipynb
